body {
    margin: 0;
}

.toolbar-row {
    background-color: blueviolet;
    display: flex;
    justify-content: baseline;
}

.toolbar-item {
    background-color: grey;
    border: 5px ridge black;
    padding:0.25rem;
    margin: auto;
}