body {
    margin: 0;
}

.toolbar-row {
    padding: 0.5em;
    background-color: white;
    display: flex;
    justify-content: baseline;
}

.toolbar-item {
    background-color: grey;
    padding:0.5em;
    margin: auto;
}